
{% extends "base.html" %} 
{% load static %}
{% block title %} LE TITRE DE L'ONGLET {% endblock %}
{% block header %} 
{% endblock %}
{% block content %} 


<!--<img class="profile-picture" width="75" height="75" style="border-radius:50%"  src="{{user.profil.avatar.url}}"/> -->
<h1>Benoipedia <span class="lennyface"></span></h1>


<div id="grid-wrapper">
        <div id="grid" data-columns>
    
                        {% for meme in memes %}

                        <a data-meme-id="{{meme.id}}" data-meme-title="{{meme.titre}}" data-meme-url="{{meme.image.url}}" class="modal-opener" href = "{% url "updatememe" meme.id %}" data-toggle="modal" data-target="#memeModal">
                            <div class="center-cropped"  style="background-image: url({{meme.image.url}});"></div>
                    </a>
               
                    {% endfor %}
               
        </div>
        
    </div>
  


<!-- Modal -->
<div class="modal fade" id="memeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            
            <div class="modal-body">
                    <img id="img-modal"> </img>
            </div>
            <div class="modal-footer">
   <!--           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
              <button data-appreciation="like" data-meme-id ="" type="button" class="btn btn-primary btn-success vote-button">Upvote</button>
              <button data-appreciation="dislike" data-meme-id ="" type="button" class="btn btn-primary btn-danger vote-button">Downvote</button>
            </div>
          </div>
        </div>
      </div>
      
      
    <script src="{% static 'benointerest/savatorre.js' %}"></script> 
    <script>
            $(document).ready(function(){
              
          
            $.get( "http://api.lenny.today/v1/random", function( data ) {
                $( "span.lennyface" ).html( data[0].face );
              });
              $('#memeModal').on('show.bs.modal', function(e) {
      
                //get data-id attribute of the clicked element
                $("#modal-title").text($(e.relatedTarget).data('meme-title'));
                //populate the textboxe.currentTarget).find('#inside').val($(e.relatedTarget).data('meme-id'));
                $("#img-modal").attr("src", $(e.relatedTarget).data('meme-url'));
                $(".vote-button").attr("data-meme-id", $(e.relatedTarget).data('meme-id'));
                
            });
            $('.vote-button').click(function(){
              var catid = $(this).data('meme-id');
              var appreciation = $(this).data('appreciation');
              $.ajax(
              {
                  type:"GET",
                  url: "/memes/"+appreciation+"meme",
                  data:{
                           post_id: catid
                  },
                  success: function( data ) 
                  {
                    if(data.ok === false)
                    {
                      alert("Fail" + appreciation);
                      return;
                    }
                    alert("Success" + appreciation);
                    /*  $( '#like'+ catid ).remove();
                      $( '#message' ).text(data);*/
                  }
               })
          });
        });
    </script>
{% endblock %}