 {% extends "base.html" %} {% load static %}{% block title %}Bleuenoix
{% endblock %} {% block header %} 

<script src="{% static 'bleuenoix/script.js' %}"></script>
 {%endblock %} {% block content %}

<h1>Bleuenoix</h1>

<div id="grid-wrapper">
  <div id="grid" data-columns>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="memeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <img id="img-modal"> </img>
      </div>
      <div class="modal-footer">
          Uploader : <span id="meme-uploader"></span>
          Category : <span id="meme-category"></span>
          <a id="edit-button" class="btn btn-secondary" href="" role="button">Edit</a>
          
        <!--           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        <button id="like-button" data-appreciation="like" data-meme-id="" type="button" class="btn btn-primary btn-success vote-button">
          Upvote (<span id="number-upvotes"></span>)</button>
        <button id="dilike-button" data-appreciation="dislike" data-meme-id="" type="button" class="btn btn-primary btn-danger vote-button">
          Downvote (<span id="number-downvotes"></span>)</button>
          {% if perms.benointerest.delete_meme %}
          <button id="delete-button" data-meme-id="" type="button" class="btn btn-primary btn-danger">
            DELETE</button>
          {% endif %}
      </div>
    </div>
  </div>
</div>

<script src="{% static 'bleuenoix/salvattore.js' %}"></script>

{% endblock %}